[package]
name = "filecoin-proofs-api"
version = "0.1.0"
authors = ["dignifiedquire <me@dignifiedquire.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/storswiftlabs/rust-filecoin-proofs-api"
readme = "README.md"

[dependencies]
anyhow = "1.0.26"
serde = "1.0.104"
paired = "0.19.0"

[dependencies.filecoin-proofs-v1]
version = "1.0.0-alpha.0"
git = "https://github.com/storswiftlabs/rust-fil-proofs"
rev = "5c002b9eb1d372cdcbcfa06ae8e2df6fb0e73314"
package = "filecoin-proofs"
